
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}
.login-formet{
  width: 450px;
  margin: auto;
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
/* ************************************ Dashbord Css ************************************** */







.main_container{
  display: grid;
  grid-template-columns: 300px auto;

}
/* left side bar section start / */
.shop_icon{
  padding: 10px;
  font-size: 42px;
  color: rgb(45, 108, 243);
}


.left-sidebar-icon-text:hover .text_icon svg, .left-sidebar-icon-text:hover .text_icon_text
{
color:rgb(115, 0, 182);
}
/* / left side bar section end / */


/* / header section start / */
.top_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon_logo{
  padding: 10px;
  font-size: 50px;
  color: rgb(124, 14, 213);

}
.icon_slider{
  padding: 10px;
  font-size: 35px;
  color: rgb(148, 67, 246);

}
.icon{
  padding: 10px;
  font-size: 42px;
  color: #fff;
}

.setting_icon{
  padding: 10px;
  font-size: 42px;
  color: rgb(40, 122, 244);
}
.first_section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.last_section {
  display: flex;
  align-items: center;
}
.first_section .flex.justify-between {
  align-items: center;
  width: 451px;
}
/* / header section end / */




/* / right sidebar start  / */


.right_section{
  display: grid; 
  width: 100%;
  padding: 15px;
 
}
/* / right sidebar end  */



@media(max-width:768px){
 
}
@media (max-width:450px){


}
